@import "./font-face";

:root {
  // colors
  --light-clr: #fff;
  --light-dark-clr: rgb(223, 223, 223);
  --dark-clr: #272727;
  --op-04-clr: rgba(255, 255, 255, 0.06);
  --accent-clr: #ffffff;
  --accent-hover: #f5ff64;
}

*,
*:before,
*:after {
  user-select: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 16px;
  background: var(--dark-clr);
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}
