.app {
  width: 100%;
  min-height: 100%;
  color: var(--light-clr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caption {
  font-weight: 400;
  opacity: 0.7;
  margin-top: 0;
  margin-bottom: 16px;
}

.variantsWrap {
  display: flex;
  flex-direction: column;
}

.operationsWrap {
  display: flex;
  flex-direction: column;
}

.emptyState {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  &_placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    img {
      width: 32px;
    }
    h3 {
      font-size: 16px;
      font-weight: 900;
      text-align: center;
    }
  }
}

.variant {
  margin-bottom: 12px;
  h3 {
    font-size: 15px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 12px;
  }
}
