.button {
  border: none;
  background: var(--accent-clr);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 8px;
  transition: 0.1s ease;
  &:hover {
    background: var(--accent-hover);
  }
}
